# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS metadata
.DS_Store

# Local data outputs
/data/raw/

# Local runtime files
*.log
